<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/admin" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        
        <!-- //++CongThanh 31/05/19: dashboard menu item -->
        <div class="nested-menu">
            <a class="list-group-item" [routerLink]="['/admin/giasu-a']" [routerLinkActive]="['router-link-active']" (click)="addExpandClass('giasu-a')">
                <i class="fa fa-fw fa-wrench"></i>&nbsp;
                <span>{{ 'Gia Sư' | translate }}</span>&nbsp;
                <span class="float-right"><i class="fa fa-plus-square"></i></span>                
            </a>
            <li class="nested" [class.expand]="showMenu === 'giasu-a'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/admin/giasu-a/form']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-fw fa-edit"></i>&nbsp;
                            <span>{{ 'Create' | translate }}</span>
                        </a>
                    </li>                    
                </ul>
            </li>
        </div>
        
        <div class="nested-menu">
           <a class="list-group-item" [routerLink]="['/admin/monhoc']" [routerLinkActive]="['router-link-active']" (click)="addExpandClass('monhoc')">
               <i class="fa fa-fw fa-wrench"></i>&nbsp;
               <span>{{ 'Môn học' | translate }}</span>&nbsp;
               <span class="float-right"><i class="fa fa-plus-square"></i></span>                
           </a>
           <li class="nested" [class.expand]="showMenu === 'monhoc'">
               <ul class="submenu">
                   <li>
                       <a [routerLink]="['/admin/monhoc/form']" [routerLinkActive]="['router-link-active']">
                           <i class="fa fa-fw fa-edit"></i>&nbsp;
                           <span>{{ 'Tạo mới' | translate }}</span>
                       </a>
                   </li>                    
               </ul>
           </li>
       </div>
       <div class="nested-menu">
           <a class="list-group-item" [routerLink]="['/admin/lop']" [routerLinkActive]="['router-link-active']" (click)="addExpandClass('lop')">
               <i class="fa fa-fw fa-wrench"></i>&nbsp;
               <span>{{ 'Lớp' | translate }}</span>&nbsp;
               <span class="float-right"><i class="fa fa-plus-square"></i></span>                
           </a>
           <li class="nested" [class.expand]="showMenu === 'lop'">
               <ul class="submenu">
                   <li>
                       <a [routerLink]="['/admin/lop/form']" [routerLinkActive]="['router-link-active']">
                           <i class="fa fa-fw fa-edit"></i>&nbsp;
                           <span>{{ 'Tạo mới' | translate }}</span>
                       </a>
                   </li>                    
               </ul>
           </li>
       </div>
        <div class="nested-menu">
            <a class="list-group-item" [routerLink]="['/admin/viec']" [routerLinkActive]="['router-link-active']" (click)="addExpandClass('viec')">
                <i class="fa fa-fw fa-wrench"></i>&nbsp;
                <span>{{ 'Công việc' | translate }}</span>&nbsp;
                <span class="float-right"><i class="fa fa-plus-square"></i></span>                
            </a>
            <li class="nested" [class.expand]="showMenu === 'viec'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/admin/viec/form']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-fw fa-edit"></i>&nbsp;
                            <span>{{ 'Create' | translate }}</span>
                        </a>
                    </li>                    
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a class="list-group-item" [routerLink]="['bookings']" [routerLinkActive]="['router-link-active']" (click)="addExpandClass('bookings')">
                <i class="fa fa-fw fa-wrench"></i>&nbsp;
                <span>{{ 'Nhận việc' | translate }}</span>&nbsp;
                <span class="float-right"><i class="fa fa-plus-square"></i></span>                
            </a>
            
        </div>
        <div class="nested-menu">
            <a class="list-group-item" [routerLink]="['users']" [routerLinkActive]="['router-link-active']" (click)="addExpandClass('users')">
                <i class="fa fa-fw fa-wrench"></i>&nbsp;
                <span>{{ 'Admin' | translate }}</span>&nbsp;
                <span class="float-right"><i class="fa fa-plus-square"></i></span>                
            </a>
            <li class="nested" [class.expand]="showMenu === 'users'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['users']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-th-list"></i>&nbsp;
                            <span>{{ 'List' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['users/form']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-fw fa-edit"></i>&nbsp;
                            <span>{{ 'Create' | translate }}</span>
                        </a>
                    </li>                    
                </ul>
            </li>
        </div>
        <!-- //--CongThanh: 31/05/19  -->
                
        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('vn')">
                                {{ 'Tiếng Việt' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('la')">
                                {{ 'ພາສາລາວ' | translate }}
                            </a>
                        </li>
                        <!-- <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fa')">
                                {{ 'Farsi' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' | translate }}
                            </a>
                        </li> -->
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
