<section class="color-3 p-b-60 tamxxxx">
	<div class="container">
		<div>
			<div class="row m-t-60 m-t-xs-0">
				<div class="col-md-7">
					<div class="title-group title-group-1 line-default line-default-c m-b-0 p-60 p-t-40 p-b-20">
						<img src="assets/frontend/images/mt-0996-logo.png" alt="image" class="m-b-20 m-t-20 w-50">
						<h2 class="f-70 f-xs-30 f-weight-300 text-uppercase f-family-poppins p-b-0">Job<strong class="f-bold">seeker</strong></h2>
						<h3>Get a job fast &amp; easy with JOBSEEKER</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore magna aliqua uat veniama icing elit sed met co</p>
					</div>
				</div>
				<div class="col-md-5">
					<div data-image-src="./images/wine-839514_960_720.jpg"><img src="assets/frontend/images/forest-1866544_960_720.jpg" alt="image" class="w-full"></div>
				</div>
			</div>
		</div>
	</div>
</section>
		