<section class="job bg-f">
	<div class="container">
		<div class="title-group line-default">
			<h2>browse Jobs</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore</p>
		</div>
		<div class="row">
			<div class="col-sm-12"><!-- Blog-item -->
				<div class="box-item">
					<div class="row">
						<div class="col-sm-2 text-center">
							<a href="#" class="thumb-img"><img src="images/log1.png" alt="image"></a>
						</div>
						<div class="col-sm-10">
							<h3 class="heading p-t-0">
								<a href="#">Autumn 2017 Graduate Opportunities</a>
								<span>January 23 2015</span>
							</h3>
							<p>Expo soft Company<span class="color-a">| New York, NY 10011</span></p>
							<p class="selected">Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore magna aliqua uat veniama icing elit sed do</p>
							<div class="p-t-5">
								<button type="submit" class="btn btn-sm btn-default m-r-10" data-container="body" data-toggle="popover" data-placement="bottom" data-content="" data-original-title="" title="">Share</button>
								<div class="list-icon d-none">
									<ul class="list-inline">
										<li><a href="#"><i class="fa fa-facebook icon icon-30 rad-5 bg-4f84c4"></i></a></li>
										<li><a href="#"><i class="fa fa-google icon icon-30 rad-5 bg-f2552c"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter icon icon-30 rad-5 bg-95dee3"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram icon icon-30 rad-5 bg-fe718b"></i></a></li>
									</ul>
								</div>
								<a href="#" class="btn btn-sm btn-default m-r-10">Save</a>
								<a href="#" class="btn btn-sm btn-info pull-right">Apply</a>
							</div>
						</div>
					</div>
				</div>
				<div class="box-item">
					<div class="row">
						<div class="col-sm-2 text-center">
							<a href="#" class="thumb-img"><img src="images/log2.png" alt="image"></a>
						</div>
						<div class="col-sm-10">
							<h3 class="heading p-t-0">
								<a href="#">SQL Server Database Administrator (DBA)</a>
								<span>January 23 2015</span>
							</h3>
							<p class="m-b-5">Expo soft Company<span class="color-a f-14">| New York, NY 10011</span></p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore magna aliqua uat veniama icing elit sed do</p>
							<div class="p-t-5">
								<button type="submit" class="btn btn-sm btn-default m-r-10" data-container="body" data-toggle="popover" data-placement="bottom" data-content="" data-original-title="" title="" aria-describedby="popover552097">Share</button>
								<div class="list-icon d-none">
									<ul class="list-inline">
										<li><a href="#"><i class="fa fa-facebook icon icon-30 rad-5 bg-4f84c4"></i></a></li>
										<li><a href="#"><i class="fa fa-google icon icon-30 rad-5 bg-f2552c"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter icon icon-30 rad-5 bg-95dee3"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram icon icon-30 rad-5 bg-fe718b"></i></a></li>
									</ul>
								</div>
								<a href="#" class="btn btn-sm btn-default m-r-10">Save</a>
								<a href="#" class="btn btn-sm btn-info pull-right">Apply</a>
							</div>
						</div>
					</div>
				</div>
				<div class="box-item">
					<div class="row">
						<div class="col-sm-2 text-center">
							<a href="#" class="thumb-img"><img src="images/log8.png" alt="image"></a>
						</div>
						<div class="col-sm-10">
							<h3 class="heading p-t-0">
								<a href="#">Software Support Analyst</a>
								<span>January 23 2015</span>
							</h3>
							<p class="m-b-5">Expo soft Company<span class="color-a f-14">| New York, NY 10011</span></p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore magna aliqua uat veniama icing elit sed do</p>
							<div class="p-t-5">
								<button type="submit" class="btn btn-sm btn-default m-r-10" data-container="body" data-toggle="popover" data-placement="bottom" data-content="" data-original-title="" title="" aria-describedby="popover552097">Share</button>
								<div class="list-icon d-none">
									<ul class="list-inline">
										<li><a href="#"><i class="fa fa-facebook icon icon-30 rad-5 bg-4f84c4"></i></a></li>
										<li><a href="#"><i class="fa fa-google icon icon-30 rad-5 bg-f2552c"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter icon icon-30 rad-5 bg-95dee3"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram icon icon-30 rad-5 bg-fe718b"></i></a></li>
									</ul>
								</div>
								<a href="#" class="btn btn-sm btn-default m-r-10">Save</a>
								<a href="#" class="btn btn-sm btn-info pull-right">Apply</a>
							</div>
						</div>
					</div>
				</div>
				<div class="box-item">
					<div class="row">
						<div class="col-sm-2 text-center">
							<a href="#" class="thumb-img"><img src="images/log5.png" alt="image"></a>
						</div>
						<div class="col-sm-10">
							<h3 class="heading p-t-0">
								<a href="#">ICT Graduate Programme</a>
								<span>January 23 2015</span>
							</h3>
							<p class="m-b-5">Expo soft Company<span class="color-a f-14">| New York, NY 10011</span></p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore magna aliqua uat veniama icing elit sed do</p>
							<div class="p-t-5">
								<button type="submit" class="btn btn-sm btn-default m-r-10" data-container="body" data-toggle="popover" data-placement="bottom" data-content="" data-original-title="" title="" aria-describedby="popover552097">Share</button>
								<div class="list-icon d-none">
									<ul class="list-inline">
										<li><a href="#"><i class="fa fa-facebook icon icon-30 rad-5 bg-4f84c4"></i></a></li>
										<li><a href="#"><i class="fa fa-google icon icon-30 rad-5 bg-f2552c"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter icon icon-30 rad-5 bg-95dee3"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram icon icon-30 rad-5 bg-fe718b"></i></a></li>
									</ul>
								</div>
								<a href="#" class="btn btn-sm btn-default m-r-10">Save</a>
								<a href="#" class="btn btn-sm btn-info pull-right">Apply</a>
							</div>
						</div>
					</div>
				</div>
				<div class="box-item">
					<div class="row">
						<div class="col-sm-2 text-center">
							<a href="#" class="thumb-img"><img src="images/log6.png" alt="image"></a>
						</div>
						<div class="col-sm-10">
							<h3 class="heading p-t-0">
								<a href="#">Head of Service Partners</a>
								<span>January 23 2015</span>
							</h3>
							<p class="m-b-5">Expo soft Company<span class="color-a f-14">| New York, NY 10011</span></p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore magna aliqua uat veniama icing elit sed do</p>
							<div class="p-t-5">
								<button type="submit" class="btn btn-sm btn-default m-r-10" data-container="body" data-toggle="popover" data-placement="bottom" data-content="" data-original-title="" title="" aria-describedby="popover552097">Share</button>
								<div class="list-icon d-none">
									<ul class="list-inline">
										<li><a href="#"><i class="fa fa-facebook icon icon-30 rad-5 bg-4f84c4"></i></a></li>
										<li><a href="#"><i class="fa fa-google icon icon-30 rad-5 bg-f2552c"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter icon icon-30 rad-5 bg-95dee3"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram icon icon-30 rad-5 bg-fe718b"></i></a></li>
									</ul>
								</div>
								<a href="#" class="btn btn-sm btn-default m-r-10">Save</a>
								<a href="#" class="btn btn-sm btn-info pull-right">Apply</a>
							</div>
						</div>
					</div>
				</div>
				<div class="box-item">
					<div class="row">
						<div class="col-sm-2 text-center">
							<a href="#" class="thumb-img"><img src="images/log7.png" alt="image"></a>
						</div>
						<div class="col-sm-10">
							<h3 class="heading p-t-0">
								<a href="#">Graduate IT and Web developer</a>
								<span>January 23 2015</span>
							</h3>
							<p class="m-b-5">Expo soft Company<span class="color-a f-14">| New York, NY 10011</span></p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore magna aliqua uat veniama icing elit sed do</p>
							<div class="p-t-5">
								<button type="submit" class="btn btn-sm btn-default m-r-10" data-container="body" data-toggle="popover" data-placement="bottom" data-content="" data-original-title="" title="" aria-describedby="popover552097">Share</button>
								<div class="list-icon d-none">
									<ul class="list-inline">
										<li><a href="#"><i class="fa fa-facebook icon icon-30 rad-5 bg-4f84c4"></i></a></li>
										<li><a href="#"><i class="fa fa-google icon icon-30 rad-5 bg-f2552c"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter icon icon-30 rad-5 bg-95dee3"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram icon icon-30 rad-5 bg-fe718b"></i></a></li>
									</ul>
								</div>
								<a href="#" class="btn btn-sm btn-default m-r-10">Save</a>
								<a href="#" class="btn btn-sm btn-info pull-right">Apply</a>
							</div>
						</div>
					</div>
				</div>
				<a href="#" class="ht-btn bg-4f84c4 no-border m-t-30">Browse all Jobs</a>
			</div>
		</div>
	</div>
</section>