<section class="block bg-fa p-t-60 p-b-30">
	<div class="container">
		<div class="title-group line-default">
			<h2>From blog</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore</p>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-4"><!-- Blog-item -->
				<div class="box-item box-shadow-d">
					<a href="#" class="blog-image"><img src="assets/frontend/images/slider-img-1.jpg" alt="image"></a>
					<div class="caption">
						<h4 class="heading"><a href="#">What do Hiring Managers look for in a resume?</a></h4>
						<ul class="post-date">
							<li>By <a href="#">Admin</a></li>
							<li>January 23 2015</li>
							<li>3 comment</li>
						</ul>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore magna aliqua uat veniama icing elit sed do</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4"><!-- Blog-item -->
				<div class="box-item box-shadow-d">
					<a href="#" class="blog-image"><img src="assets/frontend/images/slider-img-3.jpg" alt="image"></a>
					<div class="caption">
						<h4 class="heading"><a href="#">6 Tips to writing an achievement based resume</a></h4>
						<ul class="post-date">
							<li>By <a href="#">Admin</a></li>
							<li>January 23 2015</li>
							<li>3 comment</li>
						</ul>
						<p class="color-3">Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore magna aliqua uat veniama icing elit sed do</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4"><!-- Blog-item -->
				<div class="box-item box-shadow-d">
					<a href="#" class="blog-image"><img src="assets/frontend/images/slider-img-2.jpg" alt="image"></a>
					<div class="caption">
						<h4 class="heading"><a href="#">Writing an effective cover letter can win you the job</a></h4>
						<ul class="post-date">
							<li>By <a href="#">Admin</a></li>
							<li>January 23 2015</li>
							<li>3 comment</li>
						</ul>
						<p class="color-3">Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore magna aliqua uat veniama icing elit sed do</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>