<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]='["/admin"]'>Dashboard</a></li>
    <li class="breadcrumb-item active">Danh sách người quản trị</li>
  </ol>
</nav>

<table class="card-body table table-hover">
    <thead>
    <tr>
        <th>STT</th>
        <th>Username</th>
        <th>Họ tên</th>
        <th>Trạng thái</th>
        <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; index as i">
        <th scope="row">{{i+1}}</th>
        <td><a [routerLink]='["/admin/users/form",user.id]'>{{user.username}}</a></td>
        <td>{{user.name}}</td>
        <td>{{user.status}}</td>
        <td><a [routerLink]='["/admin/users/form",user.id]'>Sửa</a></td>
    </tr>
    
    </tbody>
</table>