<div [@routerTransition]>
    <app-page-header [heading]="'Cong viec'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
    	<div class="col-md-12">
    		<div class="card mb-3">
            <div class="card-header">
            	<a [routerLink]='["/admin/viec/form"]' class="btn btn-default btn-primary pull-right" *ngIf="checkGroup('GROUP_ADMIN')">{{ 'New' |  translate }}</a>
            </div>
            <table class="card-body table table-hover">
                <thead>
                <tr>
					<th (click)="changeSort('id')"><a>No.</a><span *ngIf="sort.field=='id'" class="arrow {{sort.direction}}"></span></th>
					<th (click)="changeSort('username')"><a>Tieu de</a><span *ngIf="sort.field=='username'" class="arrow {{sort.direction}}"></span></th>
					<th (click)="changeSort('email')"><a>Mo ta</a><span *ngIf="sort.field=='email'" class="arrow {{sort.direction}}"></span></th>
                    <th (click)="changeSort('monhoc')"><a>Mon hoc</a><span *ngIf="sort.field=='monhoc'" class="arrow {{sort.direction}}"></span></th>
                    <th (click)="changeSort('active')"><a>Active</a><span *ngIf="sort.field=='active'" class="arrow {{sort.direction}}"></span></th>
					<th (click)="changeSort('created_at')"><a>Ngay dang ky</a><span *ngIf="sort.field=='created_at'" class="arrow {{sort.direction}}"></span></th>
					
				</tr>
                </thead>
                <tbody>
                <tr *ngFor="let viec of dsviec; index as i">
                    <th scope="row">{{i+1}}</th>
                    <td><a [routerLink]='["/admin/viec/form",viec.id]'>{{viec.tieude}}</a></td>
                    <td>{{viec.mota}}</td>
                    <td>{{viec.monhoc}}</td>
                    <td>{{viec.active}}</td>
                    <td>{{viec.created_at}}</td>

                </tr>
                
                </tbody>
            </table>
            <div class="card-footer">
                <span *ngIf="numberOfData !== 0">
                    <sa-paginator *ngIf="data" [data]="data" url="/admin/viec"></sa-paginator>
                </span>
            </div>
        	</div>
       	</div>
    </div>
</div>
