<section class="p-b-30 p-t-60 bg-fa">
	<div class="container">
		<div class="title-group line-default">
			<h2>top company</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore</p>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="p-20 border-1x rad-3 m-b-30 bg-f"><img src="assets/frontend/images/log3.png" alt="image" class="w-full"></div>
			</div>
			<div class="col-sm-2">
				<div class="p-20 border-1x rad-3 m-b-30 bg-f"><img src="assets/frontend/images/log4.png" alt="image" class="w-full"></div>
			</div>
			<div class="col-sm-2">
				<div class="p-20 border-1x rad-3 m-b-30 bg-f"><img src="assets/frontend/images/log5.png" alt="image" class="w-full"></div>
			</div>
			<div class="col-sm-2">
				<div class="p-20 border-1x rad-3 m-b-30 bg-f"><img src="assets/frontend/images/log7.png" alt="image" class="w-full"></div>
			</div>
			<div class="col-sm-2">
				<div class="p-20 border-1x rad-3 m-b-30 bg-f"><img src="assets/frontend/images/log6.png" alt="image" class="w-full"></div>
			</div>
			<div class="col-sm-2">
				<div class="p-30 border-1x rad-3 m-b-30 bg-f"><img src="assets/frontend/images/log1.png" alt="image" class="w-full"></div>
			</div>
		</div>
	</div>
</section>