<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]='["/admin"]'>Dashboard</a></li>
    <li class="breadcrumb-item"><a [routerLink]='["/admin/viec/"]'>Danh sach viec</a></li>   
    <li *ngIf="isNew" class="breadcrumb-item active" aria-current="page">Tạo viec</li>
    <li *ngIf="!isNew" class="breadcrumb-item active" aria-current="page">Sửa viec</li>
  </ol>
</nav>
<form role="form" (ngSubmit)="saveData(true)">
  <div class="row">
    <div class="col-md-12">
            <h1>&nbsp;</h1>
            <h1>&nbsp;</h1>
      <h1 align="center">Việc tìm gia sư</h1>
    </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <fieldset class="form-group" *ngIf="!isNew">
                <label>NO</label>
                <div class="col-md-10 padding-no-id" *ngIf="data.id">
                    {{data.id}}
                </div>
            </fieldset>
           <div class="form-group">
                <label for="">Môn học</label>
                <select class="form-control" style="height: 50px" [(ngModel)]="data.monhoc_id" name="monhoc_id" id="">
                    <option value="{{mh.id}}" *ngFor="let mh of dsMonhoc">{{mh.tenmonhoc}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="">Lớp</label>
                <select class="form-control" style="height: 50px" [(ngModel)]="data.lop_id" name="lop_id" id="">
                    <option value="{{lop.id}}" *ngFor="let lop of dsLop">{{lop.tenlop}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="">Công việc</label>
                <input type="text" class="form-control input-underline input-lg" [(ngModel)]="data.tieude" name="tieude" id="" placeholder="Tiêu đề">
            </div>
            <div class="form-group">
                <label for="">Mô tả công việc</label>
                <textarea class="form-control input-underline input-lg" [(ngModel)]="data.noidung" name="noidung">
                </textarea>
            </div>

            <div class="form-group">
                <label for="">Số buổi / tuần</label>
                <input type="text" class="form-control input-underline input-lg" [(ngModel)]="data.sobuoi" name="sobuoi" id="">
            </div>
            <div class="form-group">
                <label for="">Lịch học</label>
                <input type="text" class="form-control input-underline input-lg" [(ngModel)]="data.lichhoc" name="lichhoc" id="">
            </div>
            <div class="form-group">
                <label for="">Ngày bắt đầu</label>
                <input type="text" class="form-control input-underline input-lg" [(ngModel)]="data.ngaybatdau" name="ngaybatdau" id="">
            </div>
            <div class="form-group">
                <label for="">Mức lương</label>
                <input type="text" class="form-control input-underline input-lg" [(ngModel)]="data.mucluong" name="mucluong" id="">
            </div> 
            <div class="form-group">
                <label for="">Giới tính</label>
                <input type="text" class="form-control input-underline input-lg" [(ngModel)]="data.gioitinh" name="gioitinh" id="">
            </div>

            <div class="form-group">
                <label for="">Yêu cầu khác</label>
                <textarea type="text" class="form-control input-underline input-lg" [(ngModel)]="data.yeucaukhac" name="yeucaukhac" id="">
                </textarea>
            </div>
              
        </div>
        <div class="col-md-6">            
            
            <div class="form-group">
                <label for="">Tỉnh</label>
                <select class="form-control" style="height: 50px" [(ngModel)]="data.tinh_id" name="tinh_id" id="" (change)="loadHuyen($event.target.value)">
                    <option value="{{tinh.id}}" *ngFor="let tinh of dsTinh">{{tinh.tentinh}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="">Huyện</label>
                <select class="form-control" style="height: 50px" [(ngModel)]="data.huyen_id" name="huyen_id" id="" (change)="loadXa($event.target.value)">
                    <option value="{{huyen.id}}" *ngFor="let huyen of dsHuyen">{{huyen.tenhuyen}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="">Xã</label>
                <select class="form-control" style="height: 50px" [(ngModel)]="data.xa_id" name="xa_id" id="">
                    <option value="{{xa.id}}" *ngFor="let xa of dsXa">{{xa.tenxa}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="">Địa chỉ dạy</label>
                <input type="text" class="form-control input-underline input-lg" [(ngModel)]="data.diachiday" name="diachiday" id="">
            </div>

            <div class="form-group">
                <label for="">Họ và tên</label>
                <input type="text" class="form-control input-underline input-lg" [(ngModel)]="data.hoten" name="hoten" id="" placeholder="Họ và tên">
            </div>

            <div class="form-group">
                <label for="">Số điện thoại</label>
                <input type="text" class="form-control input-underline input-lg" id="" [(ngModel)]="data.sodienthoai" name="sodienthoai" placeholder="Địa chỉ">
            </div>

             <div class="form-group">
                <label for="">Trạng thái</label>
                <select class="form-control input-underline input-lg" id="" [(ngModel)]="data.status" name="status">
                    <option *ngFor="let trangthai of listActive | keyvalue" [value]="trangthai.key" [selected]="trangthai.key==data.active">{{trangthai.value}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" align="right">
            <button type="submit" class="btn btn-lg btn-primary">Save</button>
            &nbsp;
            <button type="submit" class="btn btn-lg btn-primary" [routerLink]='["/admin/viec"]'>Cancel</button>
            <br>    
        </div>
    </div>
</form>

