<section class="p-b-60 p-t-60">
	<div class="container">
		<div class="title-group line-default">
			<h2>Testimonials</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore</p>
		</div>
		<div class="testimonial-item text-center f-18 max-w-800">
			<a href="#" class="icon icon-150 rad-500 overl p-0 bg-9 m-b-15"><img src="assets/frontend/images/user-debra-banks-230x230.jpg" alt="image" class="w-full"></a>
			<div class="testimonial-txt line-default"><i class="fa fa-quote-left"></i>Lorem ipsum dolor sit amet consecsed d do eiusmod temp incidunt olore magna aliqu Lorem ipsum dolor sit amet et dincidunt ut labore et dolore magna aliqu Lorem ipsaliqu</div>
			<p class="line"></p>
			<p class="m-t-30"><strong>Jan Bold</strong>/ CEO &amp; Founder Archi</p>
		</div>
	</div>
</section>