<section class="p-b-60 bg-2 bg-fixed block-2 bg-image-1" data-image-src="./images/forest-1866544_960_720.jpg">
	<div class="container">
		<div>
			<div class="row">
				<div class="col-sm-6">
					<div class="p-30 p-xs-10 bg-f m-b-xs-30" data-image-src="./images/wine-839514_960_720.jpg">
						<div class="bg-4f84c4 thumb-item m-b-0">
							<i class="fa fa-file-text-o"></i>
							<h4 class="heading">Dành cho phụ huynh</h4>
							<p>Bạn muốn tìm gia sư cho con bạn? GiasuXYZ giúp Phụ huynh tìm gia sư nhanh chóng.</p>
							<a href="#" class="ht-btn">Gởi thông tin công việc</a>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="p-30 p-xs-10 bg-f" data-image-src="./images/wine-839514_960_720.jpg">
						<div class="bg-dc4c46 thumb-item m-b-0">
							<i class="fa fa-file-text"></i>
							<h4 class="heading">Dành cho Gia sư</h4>
							<p>GiasuXYZ giúp gia sư dễ dàng tìm được công việc ưa thích</p>
							<a [routerLink]="['/giasu/dangky/']" class="ht-btn">Đăng ký làm gia sư</a>
						</div>
					</div>
				</div>
				<div class="col-sm-7 p-0"></div>
				<div class="col-sm-6 p-0 target_h"></div>
			</div>
		</div>
	</div>
</section>