<div [@routerTransition]>
    <app-page-header [heading]="'Messages'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col-md-12">
            <flash-messages></flash-messages>
        </div>
    </div>
    <div class="row">
    	<div class="col-md-12">
    		<div class="card mb-3">
            <div class="card-header">
            	<a [routerLink]='["/admin/message/form"]' class="btn btn-default btn-primary pull-right" >{{ 'New' |  translate }}</a>
            </div>
            <table class="card-body table table-hover">
                <thead>
                <tr>
					<th (click)="changeSort('id')"><a>No.</a><span *ngIf="sort.field=='id'" class="arrow {{sort.direction}}"></span></th>
					<!-- <th (click)="changeSort('email')"><a>Email</a><span *ngIf="sort.field=='email'" class="arrow {{sort.direction}}"></span></th> -->
                    <th (click)="changeSort('message')"><a>Message</a><span *ngIf="sort.field=='message'" class="arrow {{sort.direction}}"></span></th>
					<th (click)="changeSort('username')"><a>Username</a><span *ngIf="sort.field=='username'" class="arrow {{sort.direction}}"></span></th>
                    <th (click)="changeSort('created_at')"><a>Register day</a><span *ngIf="sort.field=='created_at'" class="arrow {{sort.direction}}"></span></th>
					<!-- <th (click)="changeSort('active')"><a>Status</a><span *ngIf="sort.field=='status'" class="arrow {{sort.direction}}"></span></th> -->
				</tr>
                </thead>
                <tbody>
                <tr *ngFor="let message of messages; index as i">
                    <td scope="row">{{i+1}}</td>
                    <td><a [routerLink]='["/admin/message",message.id]'>{{message.message}}</a></td>
                    <td>{{message.username}}</td>
                    <td>{{message.created_at}}</td>

                </tr>
                
                </tbody>

            </table>
            <div class="card-footer">
                <span *ngIf="numberOfData !== 0">
                    <sa-paginator *ngIf="data" [data]="data" url="/admin/message"></sa-paginator>
                </span>
            </div>
        	</div>
       	</div>
    </div>
</div>
