<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]='["/admin"]'>Dashboard</a></li>
    <li class="breadcrumb-item active">Danh sách việc</li>
  </ol>
</nav>

<table class="card-body table table-hover">
    <thead>
    <tr>
        <th>STT</th>
        <th>Công việc</th>
        <th>Lớp</th>
        <th>Môn</th>
        <th>Tình trạng</th>
        <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let viec of viecs; index as i">
        <th scope="row">{{i+1}}</th>
        <td><a [routerLink]='["/admin/viec/form",viec.id]'>{{viec.tieude}}</a></td>
        <td>{{viec.lop_id}}</td>
        <td>{{viec.monhoc_id}}</td>
        <td>{{viec.status}}</td>
        <td><a [routerLink]='["/admin/viec/form",viec.id]'>Sửa</a></td>
    </tr>
    
    </tbody>
</table>