<section class="block-2 p-t-30 p-b-30 bg-fa">
	<div class="container">
		<div class="bg-dc4c46 thumb-item text-left p-t-30 p-b-30 m-b-0">
			<div class="row">
				<div class="col-sm-7">
					<div>
						<h4 class="heading p-b-10 f-sm-20"><i class="fa fa-pencil-square-o pull-left m-t-ab-10"></i>We help you find good job</h4>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="pull-right"><a href="#" class="ht-btn ht-btn-3x bg-f m-t-5">Register with us</a></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="browse-category1">
	<div class="container">
		<div class="title-group line-default">
			<h2>Browse categories</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore</p>
		</div>
		<div class="row">
			<div class="col-sm-4 col-md-3">
				<div class="thumb-item">
					<i class="fa fa-line-chart"></i>
					<h4 class="heading">Accounting<br></h4>
				</div>
			</div>
			<div class="col-sm-4 col-md-3">
				<div class="thumb-item">
					<i class="fa fa-automobile"></i>
					<h4 class="heading">Automotive Jobs<br></h4>
				</div>
			</div>
			<div class="col-sm-4 col-md-3">
				<div class="thumb-item">
					<i class="fa fa-cogs"></i>
					<h4 class="heading">Construction<br></h4>
				</div>
			</div>
			<div class="col-sm-4 col-md-3">
				<div class="thumb-item">
					<i class="fa fa-pencil"></i>
					<h4 class="heading">Education Training<br></h4>
				</div>
			</div>
			<div class="col-sm-4 col-md-3">
				<div class="thumb-item">
					<i class="fa fa-heartbeat"></i>
					<h4 class="heading">Healthcare<br></h4>
				</div>
			</div>
			<div class="col-sm-4 col-md-3">
				<div class="thumb-item">
					<i class="fa fa-star-o"></i>
					<h4 class="heading">Restaurant<br></h4>
				</div>
			</div>
			<div class="col-sm-4 col-md-3">
				<div class="thumb-item">
					<i class="fa fa-truck"></i>
					<h4 class="heading">Transportation<br></h4>
				</div>
			</div>
			<div class="col-sm-4 col-md-3">
				<div class="thumb-item">
					<i class="fa fa-desktop"></i>
					<h4 class="heading">IT, Website - Design</h4>
				</div>
			</div>
		</div>
		<div class="text-center"><a href="#" class="ht-btn ht-btn-3x bg-e no-border">Browse all Categories</a></div>
	</div>
</section>